#gameFieldGridPane {
    -fx-border-width: 4px;
    -fx-border-color: black;
}

.greenButton {
    -fx-background-color: green;
}

.lightGreenButton {
    -fx-background-color: lightgreen;
}

.buttonLabel {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-border-color: #909090;
    -fx-border-width: 1;
}

.gameFieldText {
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 19;
}

.defaultButtons {
    -fx-font-size: 19;
    -fx-font-family: "Bookman Old Style";
    -fx-background-color: #85d685;
}

#gameOverTextField {
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 50;
}

#difficultyChoiceBox {
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 16;
    -fx-background-color: #e4e4e4;
}

#playerNameTextField {
    -fx-border-color: #85d685;
    -fx-border-width: 3;
    -fx-background-color: #e4e4e4;
}

#startScreenText {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 24;
}